@import "~bulma/sass/utilities/_all.sass";
// Set your brand colors
// $dark-light: #0a0a0ae0;
$dark-light: #272626;
// $gradient-progress: linear-gradient(to right, #0066cc 0%, #00cc99 100%);
// $progress-bar-background-color: white;
$progress-value-background-color: #0099ff;
$dark-white: #f3f3f3;
// $progress-value-background-color: hsl(63, 89%, 47%);
@import "~bulma/bulma";